@import "../../styles/abstracts/index";

.weather-icon {
  font-size: 150px;
  color: white;
  position: absolute;
  z-index: 10;
  top: 220px;
  left: 120px;

  @media (min-width: 576px) {
    // left: -200px;
  }

  @media (min-width: 796px) {
    font-size: 200px;
  }
}

.cloud-container {
  position: relative;
  top: -300px;
  left: -120px;
}

.cloud--1 {
  position: absolute;
  z-index: 5;
  color: white;
}

.cloud--2 {
  left: 60px;
  top: -220px;
  position: absolute;
  color: white;
  font-size: 125px;
  z-index: -5;

  @media (min-width: 576px) {
    left: 200px;
  }

  @media (min-width: 796px) {
    font-size: 150px;
  }
}

.cloud--3 {
  left: 150px;
  top: -40px;
  position: absolute;
  transform: scale(-1, 1);
  color: white;
  font-size: 100px;
  z-index: -5;

  @media (min-width: 576px) {
    left: 260px;
    top: 20px;
  }

  @media (min-width: 796px) {
    font-size: 100px;
  }
}
