@import "../../styles/abstracts/index";

.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wind {
  width: 150px;
  height: 150px;

  .wind__heading {
    margin: 0.4em;
    padding: 0.2em 0;
    border-bottom: solid 0.2em black;
    width: 122px;
    text-align: center;
  }

  .wind-icon--direction {
    font-size: 60px;
    color: $color-accent;
  }
}
