// Descriptive color variables

$light-blue: #D9F0FC;
$dark-blue: rgb(2, 73, 89);
$white: rgb(255, 255, 255);
$yellow: #F6DE8E;
$orange: #FFA500;

// Functional color variables

$color-primary: $dark-blue;