// Descriptive color variables

$lightest-blue: #ECF8FE;
$light-blue: #D9F0FC;
$dark-blue: rgb(2, 73, 89);
$white: rgb(255, 255, 255);
$yellow: #F6DE8E;
$red-orange: #F0433A;
$yellow-orange: #F27756;
$orange: #FFA500;


// Functional color variables

$color-primary: $dark-blue;
$color-accent: $yellow-orange;