@import "../../styles/abstracts/index";

.location-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  width: 95%;
  margin: 0 auto;

  &__input {
    font-size: 1rem;
    text-align: center;
    border: none;
    width: 100%;
    padding-left: 0.2rem;
    // padding-right: 25px;
    z-index: 10;
    background-color: transparent;
  }

  .location-picker__input--location {
    width: 90%;

    @media (min-width: $breakpoint-small) {
      width: 75%;
    }
  }

  .location-picker__input--user-response {
    width: 50%;
    border-color: $color-accent;
  }

  h3 {
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.25rem;
    background-color: $lightest-blue;
    border-top: solid 0.25em $light-blue;
    border-left: solid 0.25em $light-blue;
  }

  p {
    margin: 0.5em;
  }

  .country-name {
    display: flex;
    align-items: center;
  }

  .btn {
    margin: 0.5em;
  }

  .edit-btn {
    padding: 0.1em 0.2em 0;
    font-size: 25px;
  }

  .message {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }

  &__message--info {
    // display: block;
    padding: 0.5em;
    background-color: black;
    color: white;
  }

  &__message--alert {
    background-color: $color-accent;
    padding: 0.5em;
  }
}
