@import "../../styles/abstracts/index";

header {
  width: 100%;
  max-width: 1500px;
  font-size: 2rem;
  background-color: $light-blue;
  margin: 0 auto;

  @media (min-width: $breakpoint-medium) {
    width: 90%;
  }

  // START SVG STYLES, svg
  .wave-svg--top {
    transform: scaleX(-1);
    background-color: $lightest-blue;
  }

  .wave-svg--bottom {
    transform: scaleY(-1);
    background-color: $lightest-blue;
  }
  // END SVG STYLES, svg

  // START PAGE TITLE STYLES, h1
  .title {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    text-align: center;
    background-color: $lightest-blue;

    &__span {
      font-size: 1.5rem;
      margin: 1rem 0;
      font-weight: 500;
    }
  }
  // END PAGE TITLE STYLES, h1

  // START NAVIGATION STYLES, nav

  .header__nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex: row;
    justify-content: space-between;

    &__item {
      background-color: $light-blue;
      color: black;

      a,
      a:visited {
        color: black;
      }
    }

    .active {
      display: none;
    }
  }
  // END NAVIGATION STYLES, nav
}
