@import "../../styles/abstracts/index";

header {
  width: 100%;
  font-size: 2rem;
  margin: 0 auto;
  background-color: $dark-blue;

  // @media (min-width: $breakpoint-medium) {
  //   width: 90%;
  // }

  .header__inner-wrapper {
    max-width: 1500px;
    margin: 0 auto;
  }

  // START PAGE TITLE STYLES, h1
  .title {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    text-align: center;
    background-color: $lightest-blue;
    margin: 0;

    &__span {
      font-size: 1.5rem;
      margin: 1rem 0;
      font-weight: 500;
    }
  }
  // END PAGE TITLE STYLES, h1

  // START NAVIGATION STYLES, nav

  .header__nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex: row;
    justify-content: space-between;

    &__item {
      background-color: $dark-blue;
      color: black;

      a,
      a:visited {
        color: white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .active {
      display: none;
    }
  }
  // END NAVIGATION STYLES, nav
}
