@import "../styles/abstracts/index";

.about {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  // background-color: red;
  text-align: center;

  button {
    margin: 1rem;
    padding: 0;
  }

  li {
    background-color: $color-accent;
    padding: 1rem;
    list-style: none;
    width: 50%;
    margin: 1rem auto;
  }

  a,
  a:visited {
    color: black;
  }
}
