@import '../styles/abstracts/index';


.Container {
    width: 100%;
    max-width: 1500px;
    // height: 600px;
    background-color: #D9F0FC;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: 796px) {
        flex-direction: row;
        width: 90%;
        
    }

    .weather-scene {
        width: 100%;
        height: 600px;
        position: relative;
        margin-left: auto;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;

        @media (min-width: 796px) {
            width: 70%;

        }
    }
}



.SunTimes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2em;
    position: relative;
    height: 120px;
    border-top: 0.25em solid $color-primary;
    color: $color-accent;
    background-color: white;

    p {
        margin: 0.4em 0;
        font-size: 1rem;    
    }

    .half-sun-img {
        width: 60px;
    }
    
    .sunrise-img {
        transform: rotate(180deg);
    }
    
    .sunset-img {
        order: 2;
    }    

}



