@import '../styles/abstracts/index';


.Container {
    width: 90%;
    height: 600px;
    background-color: #D9F0FC;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: flex-end;
    box-sizing: border-box;
    position: relative;

    .weather-scene {
        width: 80%;
        height: 600px;
        // position: absolute;
        position: relative;
        margin-left: auto;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        // background-color: red;
    }
}

.SunTimes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
    position: relative;
    margin-bottom: 50px;

}

.SunTimes p {
    margin: 0.1em;
    margin-left: 5px;
    font-size: 1.4rem;
    
}

.horizon {
    height: 10px;
    width: 100%;
    background-color: $color-primary;
}

.half-sun-img {
    width: 60px;
}
