@import '../styles/main.scss';

.Container {
    /* width: 80%; */
    min-width: 1000px;
    height: 600px;
    background-color: #D9F0FC;
    /* background-color: #6d787e; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    position: relative;
}

.SunTimes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
    position: relative;
    margin-bottom: 0.5em;

}

.SunTimes p {
    margin: 0.1em;
    margin-left: 5px;
    font-size: 1.4rem;
    
}

.horizon {
    height: 10px;
    width: 100%;
    background-color: #FFA500;
    /* align-self: center; */
}

.sun-img {
    position: absolute;
    width: 60px;
}

.sunrise-img {
    top: -3px;
    left: 2px;
    transform: rotate(180deg);
}

.sunset-img {
    left: 920px;
    top: 47px;

}