@import "../styles/abstracts/index";

.date {
  .icon--calendar {
    color: $color-accent;
  }

  h2 {
    margin: 0.75em 0 0.5em;
    font-weight: 500;
  }

  &__button {
    margin-bottom: 0.25em;
  }
}
