.Day {
    width: 100%;
    text-align: center;
    position: relative;
}

.Day h1 {
    font-size: 3rem;
    margin: 0.75em 0 0.5em; 
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Day__button {
    margin-bottom: 0.25em;
}

