@import "../styles/abstracts/index";

.Day {
  .icon--calendar {
    color: $color-accent;
  }

  .Day h2 {
    margin: 0.75em 0 0.5em;
    font-weight: 500;
  }

  .Day__button {
    margin-bottom: 0.25em;
  }
}
