@import "../styles/abstracts/index";

header {
  margin-top: 5rem;
  // margin-top: 1rem;
  width: 100%;
  max-width: 1500px;
  font-size: 2rem;

  @media (min-width: 796px) {
    width: 90%;
    margin-top: 2.5rem;
  }

  .header__card {
    margin: 0 auto;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0.5rem;
    width: 90%;
    text-align: center;

    @media (min-width: $breakpoint-medium) {
      width: 75%;
    }
  }

  .title {
    font-family: "IBM Plex Serif", serif;
    text-align: center;
    margin: 1rem 0;

    &__span {
      font-size: 1.5rem;
    }
  }

  .svg-rotate-180 {
    transform: rotate(180deg);
  }
}
