@import '../styles/abstracts/index';


header {
    margin-top: 1.2em;
    font-size: 2em;
    width: 100%;
    max-width: 1500px;

    @media (min-width: 796px) {
        width: 90%;
        margin-top: 1em;
    }
}

