.LightMeter {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    left: 450px;
    font-size: 1.5rem;
    color: white;
    box-shadow: 9px 10px 3px 4px rgba(195, 216, 227, 0.75);
}

.light-stats {
    margin-left: 1em;
}