.LightMeter {
    width: 600px;
    height: 600px;
    /* background-color: black; */
    /* background-image: conic-gradient(
        from 270deg,
        #81CCCF 150deg,
        black 0);  */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}