@import '../styles/abstracts/index';


.Location {
   background-color: white;
   width: 100%;
   text-align: center;
   border: solid 0.1em #D9F0FC;
   margin: 0 auto;
   margin-bottom: 0.5em;
   position: relative;
   

   @media (min-width: 796px) {
    width: 80%;
   }

}

.icon--plus-sign {
    align-self: flex-end;
    margin-right: 0.4em;

    @media (min-width: 796px) {
        transform: translateY(5px);
        padding-left: 10px;
    }


}

.Location h2 {
    margin: 1em 0 0.4em;
    @media (min-width: 796px) {
        margin-top: 1.5em;
    }
}

.Location p {
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1em;
}