.MainScreen {
    width: 100%;
    /* background-color:#f0f9fe; */
    background-color: #ecf8fe;
    margin: 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

h2 {
    font-size: 2rem;
}
