.MainScreen {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.SunTimes {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}