@import '../styles/abstracts/index';


.StoredLocations {
  padding: 0.25em;
  position: absolute;
  top: -122px;
  left: -8px;
  width: 100%;

  @media (min-width: 796px) {
    top: -60px;

  }
  
}

.save-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  select {
    background-color: $lightest-blue;
  }

  .icon--arrow {
    color: $dark-blue;
    transform: translateY(5px);
  }

  @media (min-width: 796px) {
    flex-direction: row;

  }

  
}