@import '../styles/abstracts/index';

.Sun {
    width: 250px;

}

.sun-img {
    width: 200px;
    height: 200px;
    border: 0.1em solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    background-color: $yellow;
    position: absolute;
    top: 40px;
    // left: 220px;
    z-index: 5;
    box-shadow: 18px 15px 9px 4px rgba(2, 73, 89, 0.3);
}