@import '../styles/abstracts/index';


.SunTime {
    font-size: 2rem;
    // margin-left: 60px;
    // position: absolute;
    // top: -35px;
    // left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    

}