@import '../styles/abstracts/index';


.Temperature {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    left: 20px;

    // .text--min-max {
    //     // font-size: 1.5rem;
    //     color: gray;
    // }

    .current-temp {
        font-size: 4rem;
        font-weight: 700;
        
    }

    p {
        margin: 0;
        padding: 0.5rem 0;
    }
    
    img {
        width: 100px;
        height: 100px;

    }

    .flex--row {
        justify-content: space-around;
    }
}