.Temperature {
    width: 200px;
    height: 200px;
    border: 0.1em solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    background-color: rgba(249,219,130, 0.9);
    position: absolute;
    top: 40px;
    left: 200px;
    box-shadow: 18px 15px 9px 4px rgba(2, 73, 89, 0.3);
}