.Temperature {
    width: 250px;
    height: 250px;
    border: 0.1em solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    background-color: rgba(249,219,130, 0.9);
}