@import '../styles/abstracts/index';

.weather-icon {
  font-size: 200px;
  color: $dark-blue;
  position: absolute;
  top: 220px;
  left: 300px;
}

.cloud-container {
  position: relative;
  top: -300px;
  left: -350px;
}

.cloud--1 {
  position: absolute;
  z-index: 5;

}

.cloud--2 {
  left: 200px;
  top: -220px;
  position: absolute;
  color: white;
  font-size: 150px;

}

.cloud--3 {
  left: 260px;
  top: 20px;
  position: absolute;
  transform: scale(-1, 1);
  color: white;
  font-size: 100px;
}