

.btn {
  font-size: 1.1rem;
  background-color: $light-blue;
  border: 0.15em solid black;
  padding: 0.4em 1em;
  border-radius: 10px;
  font-weight: 500;
  color: black;
}

.edit-btn {
  font-weight: 400;
  background-color: $color-accent;
  border: none;
  margin-left: 1em;

}

.icon-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 40px;
  cursor: pointer;
  outline: inherit;
}

.input {
  border-radius: 10px;
  padding: 0.5em 0.5em;
  border: solid 0.25em $light-blue;
  font-size: 1.1rem;
}

.responsive-input {
  font-size: 0.7rem;

  @media (min-width: 576px) {
    font-size: 1rem;
  }
}

