* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  outline: none;
}

.btn {
  font-size: 1.1rem;
  background-color: $light-blue;
  border: 0.15em solid black;
  padding: 0.4em 1em;
  border-radius: 10px;
  font-weight: 500;
  color: black;
}

.edit-btn {
  font-weight: 400;
  background-color: $color-accent;
  border: none;
  margin-left: 1em;
}

.icon-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 40px;
  cursor: pointer;
  outline: inherit;
}

.input {
  border-radius: 10px;
  border: solid 0.25rem $dark-blue;
  padding: 0.5rem;
}

.responsive-input {
  font-size: 0.7rem;

  @media (min-width: 576px) {
    font-size: 1rem;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.nav__list__item {
  background-color: $dark-blue;
  color: white;
  margin: 0.5rem;

  &__link--active {
    background-color: $color-accent;
  }

  & a {
    display: block;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & a:visited {
    color: white;
  }
}
