p {
  font-size: 1rem;
}

a,
a:visited {
  color: white;
}

h1 {
  font-size: 3rem;

  @media (min-width: $breakpoint-small) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.2rem 0 0.4rem;

  @media (min-width: $breakpoint-large) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 600;

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25rem;
  }
}
