@import "../../styles/abstracts/index";

.select {
  background-color: $lightest-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0.2rem 0 0.2rem 0.2rem;
  color: $color-primary;
  font-size: 1.5rem;

  .select-arrow {
    color: black;
    position: absolute;
    right: 0;
  }
}
